global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    server managedhost1 192.168.209.134:80 check
    server managedhost2 192.168.209.133:80 check
